.env
node_modules/
/dist
/build
.eslintcache
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties

.vscode/

*.db
*.sqlite
*.sql

*.jar
*.war

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.tsbuildinfo

*.code-workspace
.vscode-test/
Thumbs.db 

!**/src/main/resources/db/migration/*.sql